
.category-title {
  display: flex;
  justify-self: flex-start;
  justify-content: center;
  width: 200px;
  margin-left: 15px;
  padding: 10px;
  margin-block-end: 10px;
  border-radius: 50px;
  background-image: linear-gradient(90deg, #f2cefc 0%, #ac9cf6 35%, #abeed9 100%);
}