.nav-container {
  position: fixed;
  top: 70px;
  right: 80px;
  z-index: 1;
}

.navigation {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: auto;
}

.menu-bars {
  align-self: center;
  cursor: pointer;
  height: 20px;
  margin-left: 5px;
}